.home-mobile-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-one {
  height: calc(100vh / 10);
}

.row-two {
  height: calc(100vh * 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.column {
  position: relative;
}

.column-one-one {
  width: 70%;
  background-color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.column-one-two {
  width:  30%;
  background-color: rgba(255,255,255,1);
}


