<div class="home-mobile-container">

    <div class="row row-one">
        <div class="column column-one-one"></div>
        <div class="column column-one-two"></div>
    </div>
    <div class="row rwo-two">
        <div class="column column-two-one">
            <p>Talie</p>
            <p>Boyle</p>
            <p>Photography</p>
        </div>
        <div class="column column-two-two"></div>
    </div>
    <div class="row row-three"></div>
    <div class="row rwo-four"></div>
    <div class="row row-five"></div>

</div>