<div class="home-mobile-container">

    <div class="row row-one">
        <div class="column column-one-one"></div>
        <div class="column column-one-two"></div>
    </div>
    <div class="row row-two">
        <div class="column column-two-one">
            <p>Talie</p>
            <p>Boyle</p>
            <p>Photography</p>
        </div>
        <div class="column column-two-two"></div>
    </div>
    <div class="row row-three">
        <div class="column column-three-one" ui-sref="portrait"></div>
        <div class="column column-three-two" ui-sref="portrait">Portrait</div>
    </div>
    <div class="row row-four">
        <div class="column column-four-one">Wedding</div>
        <div class="column column-four-two"></div>
    </div>
    <div class="row row-five">
        <div class="column column-five-one"></div>
        <div class="column column-five-two">Travel</div>
    </div>

</div>