<div class="home-mobile-container">

    <div class="row row-one">
        <div class="column column-one-one">
            <div class="mobile-title"><p>Talie Boyle</p></div>
            <div class="mobile-title"><p>Photography</p></div>
        </div>
        <div class="column column-one-two">
            <div class="mobile-nav-container" id="mobile-nav-container">
                <div class="ham ham-one"></div>
                <div class="ham ham-two"></div>
                <div class="ham ham-three"></div>
            </div>
        </div>
    </div>

    <div class="row row-two" id="nav-section"></div>


</div>